body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: rgb(148, 52, 95);
  background: radial-gradient(
    circle,
    rgba(148, 52, 95, 1) 25%,
    rgba(86, 50, 89, 1) 100%
  );
}
.header {
  font-family: "Permanent Marker", cursive;
  position: relative;

  text-align: center;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  position: sticky;
  font-size: 13px;
  line-height: 25px;
  background: rgb(158, 54, 139);
  z-index: -1;
  opacity: 0.6;
  border-radius: 20px;
}
footer::before {
  content: "";
  position: fixed;
  height: 30px;
}
.container {
  margin: 50px auto;
  width: fit-content;
  justify-content: center;
  height: max-content;
  border-style: outset;
  border-color: #591050;
  border-radius: 20px;
}
.content {
  padding: 50px auto;
  text-align: center;
}
h1 {
  text-align: center;
  padding: 20px;
  font-style: italic;
  font-size: 50px;
  position: relative;
  display: inline-block;
}
h1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1.2em;
  background: rgb(158, 54, 139);
  z-index: -1;
  transform: translateY(-50%) rotate(1deg);
  border-radius: 10px;
  opacity: 0.3;
}
.form-holder {
  margin-top: 30px;
  padding: 30px;
}
.form {
  display: inline-flex;
}
.search-input {
  padding: 10px;
  width: 400px;
  font-size: 17px;
  border-radius: 30px;
  line-height: 20px;
  color: #2f0d2b;
  border: #6b1c61;
  background-color: #a23893;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.search-input:focus {
  outline: none;
  box-shadow: none;
}
::placeholder {
  color: black;
}

.search-button {
  width: 120px;
  border: #6b1c61;
  border-radius: 30px;
  background-color: #98478d;
  color: #2f0d2b;
  font-size: 18px;
  padding: 10px;
  transition: all 0.5s ease;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.search-button:hover {
  color: #d100ed;
  background-color: rgb(71, 31, 71);
}

.poem {
  font-size: 16px;
  padding: 20px;
  line-height: 2;
  width: 300px;
  text-align: center;
}
.poem-placeholder {
  text-align: center;
  padding: 20px;
  width: 500px;
  display: inline-flex;
  border-style: ridge;
  border-color: #741467;
  border-radius: 20px;
}
.hints {
  line-height: 1.5;
  font-size: 15px;
  margin-top: 1px;
  text-align: left;
}
